body {
    margin: 0% ;
    padding: 0%;
}
#wrapper {
    margin: 0 auto ;
    display: block ;
    width: 90% ;
}
header {
    text-align: center ;
    height: 150px ;
}
h1 {
    font-family: 'Ranga', cursive;
    font-size: 300% ;
}
header img {
    padding-top: 20px ;
    float: left ;
}
nav {
    text-align: right;
    padding-top: 25px;
}
nav ul a li {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto ;
    text-align: center ;
    width: 20% ;
    font-size: 150% ;
    font-family: 'Ranga', cursive;
    color: black;
}  
nav ul a li:hover {
    color: white ;
    background-color: red ;
    border-radius: 25px ;
} 
nav ul a li:active {
    color: white;

}
nav ul a li:focus {
    color: white;
}
nav ul a li:visited {
    color: black ;
}
#line {
    background-color: black ;
    height: 15px ;
    width: 100% ;
    margin: 0 auto ;
    border-radius: 25px ;
}
main h1 {
    padding-top: 2em ;
}
label {
    font-size: x-large ;
    margin-right: 10% ;
    font-family: 'Roboto', sans-serif;
}
input {
    width: 20% ;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    border-color: black ;
    margin-bottom: 30px;
    margin-top: 20px ;
}
