body {
    margin: 0% ;
    padding: 0%;
}
#wrapper {
    margin: 0 auto ;
    display: block ;
    width: 90% ;
}
header {
    text-align: center ;
    height: 175px ;
}
header img {
    padding-top: 20px ;
    float: left ;
}
nav {
    text-align: right;
    padding-top: 25px;
}
nav ul li a {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto ;
    text-align: center ;
    width: 20% ;
    font-size: 150% ;
    font-family: 'Ranga', cursive;
}  
nav ul li a:hover {
    color: white ;
    background-color: red ;
    border-radius: 25px ;
} 
nav ul li a:active {
    color: white;

}
nav ul li a:focus {
    color: white;
}
#line {
    background-color: black ;
    height: 15px ;
    width: 100% ;
    margin: 0 auto ;
    border-radius: 25px ;
}
main h1 {
    padding-top: 2em ;
}

